
.key-value-text{
    display: flex;
    flex-direction: row;

    padding: 0px;

}

.right-aligned-text{
    text-align: right;
    margin: 0px;
    padding: 0px;

}

.left-aligned-text{
    text-align: left;
    margin: 0px;
    padding: 0px;

}

.sales-container{
    background-color: white;
    border-style: none;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.formik-input-field{
    margin: 0px;
}


.sales-icon{
    max-width: 24px;
    max-height: 24px;
}

.sales-input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    gap: 0px;
}

.sales-input-label{
    margin-bottom: 0px;
}

.sales-input-field{
    margin-top: 0px;
}