.sales-offer-containerjh{
    background-color: white;

    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    padding: 10px;
}

.action-button{
    background-color: yellow;
}

.sales-offer-title_____{
    background-color: blue;
}