.management-activity-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    margin-bottom: 10px;
}

#management-content-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
}

.management-activity-description{
    margin-top: 0px;
    margin-bottom: 0px;
}