img{
    width: 24px;
    margin: 2px;
}

p{
    font-size: medium;
    font-weight: normal;
    margin: 2px;
}

#side-bar-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
}

#side-bar-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 0px;
}

#item-indicator-bar{
    font-weight:800;
    margin-right: 0px;
}

#item-indicator-div{
    padding: 0px;
    margin-right: 0px;
    width: fit-content;
}

.selected-item-indicator-bar{
    color: #457900;
}

.disselected-item-indicator-bar{
    color: black;
}
