#wrapper{
    width: 100%;
}


.form{
    width: 100%;
}
.input-label{
    text-align: center;
    height: 100%;
}

.date{
    /*  */
}
.date-time-div{
    width: 40%;
}

.actions-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#save-button{
    background-color: white;
    border-color: var(--secondary);
    color: var(--secondary);
}