#login-content{
    background-color: blue;
}
h1{
    color: purple;
    font-size: xx-large;
}

.horizontal-rule{
    width: 40%;
    color: black;
}

#horizontal-rule-span{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#login-with-otp-button{
    background-color: white;
    color: black;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: medium;
}

#login-with-otp-button-container{
    width: 80%;
}