#projects-overview-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    background-color: whitesmoke;
    border-style: none;
    border-radius: 4px;

    width: 100%;
    padding: 4px;

}

#current-project-name{
    margin-bottom: 24px;
}

#current-task-name{
    margin-bottom: 4px;
}

#update-project{
    align-self: center;
    margin-top: 24px;
}

#projects-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    width: 30%;
}

#view-all-projects-button{
    background-color: white;
    color: orange;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: orange;
}


nav-link{
    color: green;
}
