

.auth-start-aligned-text{
    text-align: start;
}

.auth-end-aligned-text{
    text-align: end;
}

.auth-center-aligned-text{
    text-align: center;
}

.auth-accept-button{
    
}

.auth-white-button{

}